body {
  background-color: #333;
}

canvas {
  border: 2px solid black;
  background-color: rgb(34, 34, 34);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#startScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#startScreen h1 {
  font-size: 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: rgb(237, 166, 33);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#startScreen h2 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: rgb(132, 86, 0);
  position: absolute;
  top: 55%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.startButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #0d47a1;
  border: none;
  color: rgb(196, 196, 196);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-grow {
  position: absolute;
  top: 46%;
  left: 44.5%;
  color: #f59b1d;
  background-color: #5d5d5e;
  border: 1.5px solid #f08827;
  border-radius: 4px;
  padding: 0 24px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.button-grow:hover {
  transform: scale(1.1);
}

#score {
  color: #ff9603;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  position: absolute;
  top: 07%;
  left: 75%;
  /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.635); */
}

#lives {
  color: #ff9603;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  position: absolute;
  top: 04%;
  left: 75%;
  /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.635); */
}

#speed {
  color: #ff9603;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  position: absolute;
  top: 10%;
  left: 75%;
  /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.635); */
}
